/*****************************
 * General Styles
 ****************************/

.page-header {
    padding-top: 4.5rem;
    padding-bottom: 2.5rem;
    background-color: #ba6b03;
    background-image: linear-gradient(120deg, #000, #ff691a 90%);
    position: relative; /* due to a#nav_home's absolute positioning */
}
.page-header img {
    width: 20%;
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%;
    min-width: 100px;
    min-height: 100px;
}

.page-header a {
    color: #ff691a;
    position: absolute;
    left: 3%;
    opacity: 0.5;
    text-decoration: none;
}
.page-header a#nav_home {
  top: 8%;
}
.page-header a#nav_projects {
  top: 22.75%;
}
.page-header a#nav_blog {
  top: 37.5%;
}
.page-header a i {
  display: block;
}
.page-header a i.fa-inverse {
  color: #000;
}
@media screen and (max-width: 28em) {
  .page-header a#nav_blog     {top: 29%; left: 1.5%; }
  .page-header a#nav_projects {top: 15%; left: 1.5%; }
  .page-header a#nav_home     { top: 2%; left: 1.5%;}
}
@media screen and (min-width: 28em) and (max-width: 40em) {
  .page-header a              { left: 3%; }
  .page-header a#nav_projects { top: 24%; } /* 25.2%; */
  .page-header a#nav_blog     { top: 40%; }
}

.header-text { display: inline-block; position: relative; top: -20px; }
@media screen and (max-width: 37.8em) { .header-text { position: static; } }
@media screen and (max-width: 30em) { .header-text { padding: 0 3rem; } }


.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 { color: #ff691a; }

h1.contrast, h2.contrast, h3.contrast, h4.contrast, h5.contrast, h6.contrast { color: #ffab43; font-weight: lighter; font-style: italic; }

p.separated {
  margin-top: 1.5em;
}

ul li {
  list-style: square;
}

a {
  color: #20add2;
}
span.small {
    font-size: 80%;
}
p.small {
  font-size: 90%;
}

.cursor:hover {
  cursor: pointer;
}

.site-footer ul {
  text-align: right;
}
.site-footer ul li {
  list-style: none;
  display: inline-block;
  margin: 0 3%;
}
.site-footer ul li .fa {
  color: #ff691a;
}

/*****************************
 * Specific Styles
 ****************************/

/****************************/
/***************** PROJECTS */
/****************************/
ul#projects li {
  list-style: none;
  margin-top: 4%;
  padding: 0 1% 3% 1%;
  border-bottom: 1px solid #aaa;
}
ul#projects li:last-child, ul#projects li.last {
  border: none;
}
ul#projects .contrast {
  margin-left: -3.5%;
}
ul#projects li h4 {
  color: #934c28; /* darker "orange" */
  margin-top: -1rem;
  padding-top: 0;
}

/* Accordion styles */
button.toggle-accordion {
  background-color: #ddd; /* #ffb763 */
  width: 100%;
  margin: 2% 0;
  padding: 1%;
  border: none;
  text-align: left;
  cursor: pointer;
}
button.toggle-accordion:after {
  content: '\002B';
  font-size: 1em;
  float: right;
  margin-right: 2%;
}
button.toggle-accordion.expanded:after {
  content: "\2212";
}
button.toggle-accordion.expanded, button.toggle-accordion:hover {
  background-color: #ccc;
}
.accordion {
  display: none;
  background-color: #eee;
  margin-top: -2%;
  padding: 3% 2% 1% 2%;
  font-size: 80%;

  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -moz-column-fill: balance;
  column-fill: balance;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
}
.accordion img {
  width: 100% !important;
  height: auto !important;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}
.accordion img:hover {
  opacity: 0.6;
  cursor: pointer;
}
.accordion .break-after {
  display: block;
}
@media screen and (max-width: 38em) { .accordion { -webkit-columns: 1;  -moz-columns: 1;  columns: 1;  -webkit-column-count: 1;  -moz-column-count: 1;  column-count: 1; } }
@media screen and (min-width: 38em) and (max-width: 50em) { .accordion { -webkit-columns: 2;  -moz-columns: 2;  columns: 2;  -webkit-column-count: 2;  -moz-column-count: 2;  column-count: 2; } }

/* Modal styles */
.modal {
  display: none;
  overflow: auto;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  padding-top: 100px;
}
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  height: 100%;
  width: 90%;
}
.close, .prev, .next {
  color: #ff691a;
  position: absolute;
  font-weight: bold;
  z-index: 9999;
}
.close {
  top: 10px;
  right: 25px;
  font-size: 35px;
}
.prev, .next {
  top: 50%;
  padding: 16px;
  margin-top: -50px;
  font-size: 20px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.close:hover, .close:focus, .prev:hover, .prev:focus, .next:hover, .next:focus {
  color: #990000; /*#d55917;*/
  text-decoration: none;
}
.modal-content div#main-image {
  text-align: center;
  margin: 0 auto;
  margin-top: -5%;
}
.caption-container {
  text-align: center;
  padding: 0;
  color: white;
}
#previews {
  width: 100%;
  margin-top: 3%;
  text-align: center;
}
@media screen and (max-width: 31em) { #previews {  margin-top: 5%; } }
@media screen and (min-width: 31em) and (max-width: 53em) { #previews { margin-top: 10%; } }

#previews img {
  max-width: 90%;
  max-height: 100px;
  vertical-align: top;
  margin-right: 1%;
  padding: 0;
  display: inline-block;
  opacity: 0.7;
}
#previews img:hover, #previews img:focus {
  opacity: 1;
  cursor: pointer;
}
div.preview {
  position: relative;
  display: inline-block;
  max-width: 23.3%;
}
@media screen and (max-width: 31em) { div.preview  { max-width: 45%; } }
@media screen and (min-width: 31em) and (max-width: 53em) { div.preview { max-width: 28%; } }
div.preview span {
  position: absolute;
  font-size: 60%;
  color: white;
  background: rgba(0,0,0,0.5);
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 35px;
  text-align: center;
}
@media screen and (max-width: 31em) {div.preview span { padding-top: 35px; } }
@media screen and (min-width: 31em) and (max-width: 53em) { div.preview span { padding-top: 30px; } }

/******************************/
/***************** ABOUT/HOME */
/******************************/
div#viewer {
  position: relative;
  margin: auto;
  text-align: center;
  width: 90%;
  height: 95%;
  z-index: 10;
  top: -100px; /* due to loader icon */
}
div#viewer:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
div#viewer iframe.youtube-embed, div.document-viewer div#pdf-fail {
	position: relative;
  width: 90%;
  z-index: 10;
  display: inline-block;
  vertical-align: middle;
}
div.document-viewer {
  padding-top: 2.5%;
  overflow: hidden;
}
div.document-viewer div#pdf-fail {
  color: #fff;
  padding: 10%;
  /* margin: 12.5% auto 0; */
  width: 90%;
  max-width: 60em;
  z-index: 10;
  background-color: #191919; /* #222; */
}
/* loader code based on w3schools.com's */
/* (https://www.w3schools.com/howto/howto_css_loader.asp) */
div.document-viewer .loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #ff691a;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 2;
  top: 40%;
  margin: 0 auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*****************************
 * Blog Specific Styles
 ****************************/
.small-header {
    padding-top: 5rem;
    padding-bottom: 1rem;
}

#blog_nav a#nav_projects {
  top: 28%;
}
#blog_nav a#nav_blog {
  top: 48%;
}
@media screen and (max-width: 28em) {
  #blog_nav a#nav_blog     {top: 37%; }
  #blog_nav a#nav_projects {top: 21%; }
  #blog_nav a#nav_home     { top: 5%; }
}
ul li.spacious {
  margin-bottom: 1.2%;
}

section.main-content {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1.25rem;
  padding-bottom: 0;
}

footer span.copy-footer  {
  opacity: 0.3;
}

.blog-post h1, .blog-post h2, .blog-post h3, .blog-post h4, .blog-post h5, .blog-post h6 {
  color: #d15514;
}
.blog-post h1#title {
  border-bottom: 1px solid #d15514;
  width: 100%;
}
.blog-post h6#post-info {
  text-align: right;
  margin-top: -10px;
}

a#ref1, a#ref2, a#ref3, a#ref4, a#ref5 { padding-left: 1px; }

.blog-post figure {
  display: table; /* so that figcaption has the same width of the image */
  text-align: center;
  margin: 0 auto;
}
.blog-post figure img {
  display: inline-block;
  max-height: 600px;
}
.blog-post figure figcaption {
  display: table-caption; /* so that figcaption has the same width of the image */
  caption-side: bottom;
  font-size: 80%;
  color: #d15514;
}

section#sidebar { display: none; }
@media screen and (min-width: 71em) {
  section#sidebar {
    display: inline-block;
    padding: 1.5%;
    max-width: 15%;
    position: absolute;
    font-size: 80%;
  }
}
