<section class="page-header small-header">
  <nav id="blog_nav">
    <ul>
      <li><a id="nav_home" href="{{ site.baseurl }}/">
        <i class="fa fa-home"></i>  <span>About Me</span></a>
      </li>
      <li><a id="nav_projects" href="{{ site.baseurl }}/projects.html">
        <i class="fa fa-terminal"></i>  <span>Projects</span></a>
      </li>
      <li><a id="nav_blog" href="{{ site.baseurl }}/blog/index.html">
        <i class="fa fa-newspaper-o"></i>  <span>ML Blog</span></a>
      </li>
    </ul>
  </nav>
  <div class="header-text">
    <h1 class="project-name">{{ site.blog.title }}</h1>
    <h2 class="project-tagline">{{ site.blog.tagline }}</h2>
  </div>
</section>
