<section class="page-header">
  <nav>
    <a id="home" href="{{ site.baseurl }}/"><i class="fa fa-home fa-2x"></i></a>
  <!--  <a class="fa-stack fa-lg" href="{{ site.baseurl }}/projects.html">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
    </a> -->
  </nav>
  <div class="header-text">
    <h1 class="project-name">{{ site.title }}</h1>
    <h2 class="project-tagline">{{ site.tagline }}</h2>
  </div>
  <img src="img/profile.png">
</section>
