<section class="page-header">
  <nav>
    <a id="nav_home" href="{{ site.baseurl }}/" class="fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-home fa-stack-1x fa-inverse"></i>
    </a>
    <a id="nav_projects" class="fa-stack fa-lg" href="{{ site.baseurl }}/projects.html">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
    </a>
    <a id="nav_blog" class="fa-stack fa-lg" href="{{ site.baseurl }}/blog/index.html">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i>
    </a>
  </nav>
  <div class="header-text">
    <h1 class="project-name">{{ site.title }}</h1>
    <h2 class="project-tagline">{{ site.tagline }}</h2>
  </div>
  <img src="{{ site.baseurl }}/img/profile.png">
</section>
