<ul class="share-article">
  <li>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}/{{ page.path }}" aria-label="share on facebook">
      <i class="fa fa-facebook-square fa-3x"></i>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/shareArticle?url={{ site.url }}/{{ page.path }}" aria-label="share on Linkedin">
      <i class="fa fa-linkedin-square fa-3x"></i>
    </a>
  </li>
  <li>
    <a href="http://twitter.com/share?url={{ site.url }}/{{ page.path }}" aria-label="share on  twitter">
      <i class="fa fa-twitter-square fa-3x"></i>
    </a>
  </li>
</ul>
