<!-- <ul>
  Share this article
  <li>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}/{{ page.path }}">FB</a>
  </li>
  <li>
    <a href="https://www.linkedin.com/shareArticle?url={{ site.url }}/{{ page.path }}">LI</a>
  </li>
  <li>
    <a href="http://twitter.com/share?url={{ site.url }}/{{ page.path }}">TW</a>
  </li>
</ul> -->

<!--
Current page url = "{{ site.url }}/{{ page.path }}"
https://www.facebook.com/sharer/sharer.php?u=URL
https://www.linkedin.com/shareArticle?url=URL
http://twitter.com/share?url=URL -->
