---
layout: blog
title: Introduction
description: A set of notes on Machine Learning, taking you from Nada to Master of Data!
author: obiwit
comments: true
---

<div id="ml-blog">
  <h1 id="title">Introduction</h1>
  <h6 id="post-info">By Beatriz Borges R, <span class="small">edited on Mar 16, 12018</span></h6>

  <p>I couldn’t find a book on machine learning that told me what I wanted to know, so I decided to compile my own notes.</p>
  <p>The idea is that these notes will improve as I know more of Machine Learning – as I deepen my understanding of several concepts, and subsequently explain these concepts better. Right now, my notes are at a more high-level point of view, without much explanation of the more nitty-gritty details - though I already have some plans to change that in a few months, after I've finished laying down the first foundation!</p>
  <p>I’m sharing them in the hope they can be useful to somebody else! Feedback is always appreciated, so feel free to <a href="mailto:{{ site.author.email }}">drop me a note</a> if I made a mistake ;)</p>

  <p>When my notes are more substantial, I will also add a pdf of the most recent version of them here.</p>

  <h2>Blog Map</h2>
  <ul id="blog-map">
    {% for section in site.blog.posts %}
      {% if section.category %}
      <p class="map-categories">{{ section.category }}</p>
      {% endif %}
      {% for post in section.posts %}
      <li class="spacious">
        <a href="{{ site.baseurl }}/blog/{{section.baseurl}}{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    {% endfor %}
  </ul>

</div>
