<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
    {% include blog-header.html %}

    <section id="sidebar">
      {% include social_share.html %}
      <h5>Blog Map</h5>
      <ul id="map">
        {% for section in site.blog.posts %}
          {% if section.category %}
          <br/><strong>{{ section.category }}</strong><br/>
          {% endif %}
          {% for post in section.posts %}
          <li>• <a href="{{ site.baseurl }}/blog/{{section.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        {% endfor %}
      </ul>
    </section>

    <section class="main-content blog-post">

      {{ content }}

      {% include social_share.html %}
      {% include blog-prev-next.html %}
      {% include disqus.html %}
      {% include page-footer.html %}

    </section>

  </body>
</html>
